<nav class="navbar fixed-top navbar-inverse">
  <div class= "container-fluid">
        <% if !user_signed_in? %>
        <%= link_to 'Meeting Room', root_url, class: 'navbar-brand' %>
        <% else %>
        <%= link_to 'Meeting Room', current_user, class: 'navbar-brand' %>
        <% end %>
       <div class="collapse navbar-collapse" id="expanded-menu">

    <ul class="nav navbar-nav navbar-right">

      <% if !user_signed_in? %>
        <li>
          <%= link_to 'Entrar', entrar_path %>
      </li>
      <% else %>
            <li class= "user_show_name">
              <%= link_to current_user.name, current_user %>
            </li>
            <li>
              <%= link_to 'Editar', '#' %>
            </li>
            <li class="divider" role="separator"></li>
            <li>
              <%= link_to 'Sair', sair_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% end %>

    </ul>

  </div>
    </div>
</nav>